

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "STARWARS";
    src: url("STARWARS.ttf");
}

body{
    
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "STARWARS";
    color: #FBDF2A;
}


nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 100%;
    height: 60px;
    
 }
h1{
    color: #ffdd01;
    font-size: 45px;
    letter-spacing: .3em;
    margin: 10px 0;
    text-align: center;
}


.items{
    color: #FBDF2A;
    font-size: 20px;
    letter-spacing: .1em;
    margin-right: 20px;
    text-decoration: none;
    padding: 5px;
}
.logo{
    margin-top: 15px;
    width: 100px;
    height: 60px;
}
.logo_imagen{
    width: 100%;
}

.favoritos{
    position: relative;
    
    

    .favoritos_dropdown{
       border: 1px #FBDF2A solid;
       border-radius: 5px;
       font-size: 16px;
       letter-spacing: .1em;
       padding: 8px 20px;
       color: #FBDF2A;
       text-decoration: none;
       
    }
     .visible{
        position: absolute;
        margin-top: 15px;
        display: block;
        background-color: black;
        
        
    }
    .oculto{
        display: none;
    }
     span{
        color: #FBDF2A;
        cursor: pointer;
        margin: 15px;
     }
     li{
        color: #FBDF2A;
        list-style: none;
        
     }

}

.tabla{
    margin-top: 50px;
    width: 100%;
    height: 350px;

    .tabla_user{
        background-color: black;
        border-radius: 5px;
        border-collapse: collapse;
        opacity: .9;
        padding: 10px;
        text-align: left;
        width: 100%;
    }
    th{
        padding:10px 0 10px 20px;
        border-bottom: 1px solid #FBDF2A;
         
    }
    td{
        padding:10px 0 10px 20px;
    }
    tr:hover td{
        background-color: #FBDF2A;
        color: #000000;
    }
}   



.footer{
    background-color: black;
    bottom: 0;
    text-align: center;
    height: 60px;
    width: 100%;
    

    p{
        color: #FBDF2A;
        letter-spacing: .1em;
        padding-top: 15px;
    }
}